<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Table</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<table class="palette">
<thead><tr><th>Color</th></tr></thead>
<tbody>
    <tr class="trtheme"><td id="t0l0" class="theme-beemervivid" >#0381a1 theme-l0</td></tr>
    <tr class="trtheme"><td id="t0l1" class="theme-beemerbright">#05b7e4 theme-l1</td></tr>
<tbody>
    <tr class="tdtheme"><td id="tl1" class="theme-beemerlight1" >#ebfbff theme-beemerlight1</td></tr>
    <tr class="tdtheme"><td id="tl2" class="theme-beemerlight2" >#bbf0fe theme-beemerlight2</td></tr>
    <tr class="tdtheme"><td id="tl3" class="theme-beemerlight3" >#77e2fc theme-beemerlight3</td></tr>
    <tr class="tdtheme"><td id="tl4" class="theme-beemerlight4" >#33d3fb theme-beemerlight4</td></tr>
    <tr class="tdtheme"><td id="tl5" class="theme-beemerlight5" >#05b7e4 theme-beemerlight5</td></tr>
    <tr class="tdtheme"><td id="tbb" class="theme-beemerbright" >#10b6e0 theme-beemerbright</td></tr>
    <tr class="tdtheme"><td id="tbv" class="theme-beemervivid"  >#0381a1 theme-beemervivid</td></tr>
    <tr class="tdtheme"><td id="td5" class="theme-beemerdark5">#037490 theme-beemerdark5</td></tr>
    <tr class="tdtheme"><td id="td4" class="theme-beemerdark4">#036780 theme-beemerdark4</td></tr>
    <tr class="tdtheme"><td id="td3" class="theme-beemerdark3">#025a70 theme-beemerdark3</td></tr>
    <tr class="tdtheme"><td id="td2" class="theme-beemerdark2">#024d60 theme-beemerdark2</td></tr>
    <tr class="tdtheme"><td id="td1" class="theme-beemerdark1">#024050 theme-beemerdark1</td></tr>
</tbody>
</tbody>
</table>
</body>
</html>