.beemtheme-l5 {color:#000 !important; background-color:#ebfbff !important}
.beemtheme-l4 {color:#000 !important; background-color:#bbf0fe !important}
.beemtheme-l3 {color:#000 !important; background-color:#77e2fc !important}
.beemtheme-l2 {color:#000 !important; background-color:#33d3fb !important}
.beemtheme-l1 {color:#fff !important; background-color:#05b7e4 !important}
.beemtheme-d1 {color:#fff !important; background-color:#037490 !important}
.beemtheme-d2 {color:#fff !important; background-color:#036780 !important}
.beemtheme-d3 {color:#fff !important; background-color:#025a70 !important}
.beemtheme-d4 {color:#fff !important; background-color:#024d60 !important}
.beemtheme-d5 {color:#fff !important; background-color:#024050 !important}beem
.beemtheme-light {color:#000 !important; background-color:#ebfbff !important}
.beemtheme-dark {color:#fff !important; background-color:#024050 !important}
.beemtheme-action {color:#fff !important; background-color:#024050 !important}beem
.beemtheme {color:#fff !important; background-color:#0381a1 !important}
.beemtext-theme {color:#0381a1 !important}
.beemborder-theme {border-color:#0381a1 !important}beem
.beemhover-theme:hover {color:#fff !important; background-color:#0381a1 !important}
.beemhover-text-theme:hover {color:#0381a1 !important}
.beemhover-border-theme:hover {border-color:#0381a1 !important}
